<div class="w3-display-container">
  <img class="w3-image" src="http://u.profitroom.pl/2017.zamek-gniew.pl/thumb/1200x630/uploads/baner.jpg"
       alt="The Hotel" style="min-width:1000px" width="1500" height="800">
  <div class="w3-display-right w3-padding w3-col m6">

    <div class="w3-display-container w3-red">
      <div class="w3-container w3-red">
        <h2><i class="fa fa-bed w3-margin-right"></i>Find your perfect hotel !</h2>
      </div>
      <div class="w3-container w3-white w3-padding-16">
        <div class="w3-row-padding">
          <div class="w3-col m6">
            <label for="city">City:</label>
            <input type="text" id="city" name="city" class="w3-input w3-border" placeholder="Warsaw" [(ngModel)]="city">
          </div>

          <div class="w3-row-padding">
            <div class="w3-col m6">
              <label><i class="fa fa-calendar-o"></i> Check In</label>
              <input id="checkInDate" class="w3-input w3-border" type="text" placeholder="DD MM YYYY"
                     [(ngModel)]="checkInDate">
            </div>
            <div class="w3-col m6">
              <label><i class="fa fa-calendar-o"></i> Check Out</label>
              <input class="w3-input w3-border" type="text" placeholder="DD MM YYYY" [(ngModel)]="checkOutDate">
            </div>
          </div>
        </div>
        <div class="w3-row-padding">
          <div class="w3-col m4">
            <label>Search:</label>
            <p class="alert" style="color:red;" *ngIf="!areSearchFieldsPresent;">Fill empty fileds !</p>
            <button class="w3-button w3-black w3-block" type="submit" (click)="loadHotels()">
              <i class="fa fa-search"></i>
              Search availability
            </button>
          </div>
        </div>
      </div>

    </div>


  </div>
</div>
<div class="w3-content" style="max-width:1532px;">
  <div *ngIf="showHotels && !showRooms">
    <div class="w3-container w3-margin-top w3-red" id="rooms">
      <h3>Our Hotels</h3>
      <h6>You can find our hotels anywhere in the world:</h6>
    </div>

    <div class="w3-row-padding w3-padding-16 w3-text-white w3-text-strong w3-large">
      <div class="w3-half w3-margin-bottom" *ngFor="let hotel of hotels; let i = index">
        <div class="w3-display-container" style="padding-top: 20px">
          <h2 style="color:black;">{{hotel.name}}</h2>
          <img src="{{hotel.imgPath}}" alt="{{hotel.name}}" style="width:50%; height:300px;"
               (click)="selectHotel(hotel)"/>
          <span class="w3-display-bottomright w3-padding">{{hotel.location}}</span>
        </div>
      </div>
    </div>
  </div>


  <div>
    <app-room-list *ngIf="showRooms" [rooms]=rooms></app-room-list>

    <!--<div class="w3-row-padding" *ngIf="selected">-->

    <!--<div class="w3-col m2">-->
    <!--<button class="w3-button w3-red w3-block w3-display-bottommiddle" type="submit" (click)="toPersonDataForm()">-->
    <!--<i class="fa fa-search"></i>-->
    <!--Provide personal data-->
    <!--</button>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

  </div>

</div>
