<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="w3-bar w3-white w3-large">
        <a routerLink="#" class="w3-bar-item w3-button w3-red w3-mobile">
          <i class="fa fa-bed w3-margin-right"></i>Hot Hotels</a>
        <a routerLink="/book/hotels" class="w3-bar-item w3-button w3-mobile">Hotels</a>
        <a routerLink="/contact" class="w3-bar-item w3-button w3-mobile">Contact</a>
        <a routerLink="/manage" class="w3-bar-item w3-button w3-right w3-light-grey w3-mobile">Manage Hotels</a>
        <!--<a routerLink="/book" class="w3-bar-item w3-button w3-right w3-mobile">Book Now</a>-->
      </div>
    </div>
  </div>
</nav>
