<div>
  <div class="w3-container w3-margin-top w3-red"  id="summary">
    <h6>Your selection</h6>
  </div>

  <div class="w3-row-padding w3-padding-16">
    <div class="w3-third w3-margin-bottom">
      <img src="{{selectedRoom.imgPath}}" alt="{{selectedRoom.premium}}" style="width:100%">
      <div class="w3-container w3-white">
        <h3>Capacity: {{selectedRoom.capacity}}</h3>
        <h6 class="w3-opacity" *ngIf="selectedRoom.prices.length > 0">
          Price: {{selectedRoom.prices[0].value}} PLN /night
        </h6>
        <!--<p>Single bed</p>-->
        <!--<p>15m<sup>2</sup></p>-->
        <p class="w3-large"><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i></p>
      </div>
    </div>
    <div>
      <div class="w3-half w3-margin-bottom">
        <div class="w3-display-container">
          <img src="{{selectedHotel.imgPath}}" style="width:100%">
          <span class="w3-display-bottomright w3-padding">{{selectedHotel.location}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="w3-row-padding w3-padding-16">
    <div class="w3-half w3-margin-bottom">
      <div class="w3-half w3-margin-bottom">
        <div class="w3-container w3-margin-top w3-red" id="totalPrice">
          <h6>Total price: ....</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="w3-row-padding">
    <div class="w3-col m3">
      <label for="city">City:</label>
      <input type="text" id="city" name="city" class="w3-input w3-border" placeholder=""
             [(ngModel)]="selectedHotel.location" readonly>
    </div>
    <div class="w3-col m3" *ngIf="selectedRoom.reservations.length > 0">
      <label><i class="fa fa-calendar-o"></i> Check In</label>
      <input id="checkInDate" class="w3-input w3-border" type="text" placeholder="DD MM YYYY"
             [(ngModel)]="selectedRoom.reservations[0].checkInDate" readonly>
    </div>
    <div class="w3-col m3" *ngIf="selectedRoom.reservations.length > 0">
      <label><i class="fa fa-calendar-o"></i> Check Out</label>
      <input class="w3-input w3-border" type="text" placeholder="DD MM YYYY"
             [(ngModel)]="selectedRoom.reservations[0].checkOutDate" readonly>
    </div>
  </div>
  <div class="w3-row-padding">
    <div class="w3-row-padding">
      <div class="w3-padding-16 w3-center">
        <button class="w3-button w3-black" (click)="makeReservation()"> Submit reservation
        </button>
      </div>
    </div>
  </div>

</div>
