<div>
  <div>
    <p class="w3-red w3-padding">Some cool data about hotels</p>

    <div class="w3-panel w3-round-xlarge w3-sand w3-padding">
      <h3>10 clients who spent the most money this year</h3>
        <div>
          <table datatable="ng" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger1" class="row-border hover" width="70%">
            <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>email</th>
              <th>Conference</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let client of costClientsList">
              <td>{{client.firstName}}</td>
              <td>{{client.lastName}}</td>
              <td>{{client.email}}</td>
              <td *ngIf="client.conference; else noConference">Yes</td>
            </tr>
            </tbody>
          </table>
        </div>
    </div>

    <div class="w3-panel w3-round-xlarge w3-sand w3-padding">
      <h3>10 clients who spent the most days in our hotels this year</h3>
      <table datatable="ng" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger2" class="row-border hover" width="70%">
        <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>email</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let client of timeClientsList">
          <td>{{client.firstName}}</td>
          <td>{{client.lastName}}</td>
          <td>{{client.email}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <hr>


  </div>

  <ng-template #noConference><td>No</td></ng-template>
</div>
