<div>
  <div>
    <p class="w3-red w3-padding">Some cool data about hotels</p>

      <label>10 the best clients</label>
        <div>
          <table datatable class="row-border hover">
            <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Country</th>
              <th>City</th>
              <th>Address</th>
              <th>Room number</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>1</td>
              <td>Any</td>
              <td>Poland</td>
              <td>Warsaw</td>
              <td>here</td>
              <td>11111</td>
            </tr> <tr>
              <td>2</td>
              <td>Any</td>
              <td>Poland</td>
              <td>Krakow</td>
              <td>here</td>
              <td>22222</td>
            </tr> <tr>
              <td>3</td>
              <td>My</td>
              <td>Norway</td>
              <td>Oslo</td>
              <td>here</td>
              <td>22</td>
            </tr> <tr>
              <td>4</td>
              <td>Any</td>
              <td>Norway</td>
              <td>Far Far away</td>
              <td>here</td>
              <td>111</td>
            </tr>
            </tbody>
          </table>
        </div>

      <label>Conferences giving the best profit</label>
        <table datatable class="row-border hover">
          <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Country</th>
            <th>City</th>
            <th>Address</th>
            <th>Room number</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>1</td>
            <td>Any</td>
            <td>Poland</td>
            <td>Warsaw</td>
            <td>here</td>
            <td>11111</td>
          </tr> <tr>
            <td>2</td>
            <td>Any</td>
            <td>Poland</td>
            <td>Krakow</td>
            <td>here</td>
            <td>22222</td>
          </tr> <tr>
            <td>3</td>
            <td>My</td>
            <td>Norway</td>
            <td>Oslo</td>
            <td>here</td>
            <td>22</td>
          </tr> <tr>
            <td>4</td>
            <td>Any</td>
            <td>Norway</td>
            <td>Far Far away</td>
            <td>here</td>
            <td>111</td>
          </tr>
          </tbody>
        </table>

  </div>
</div>
